/* CSS Document - MAIN STYLESHEET - STYLESHEET.CSS */

/*  BODY AND CONTAINER 
--------------------------------*/
body {
	font-size: 76%;
	background-color: #000;
	padding: 0px;
	marging: 0px;
	background-image: url(../images/splash-pg.jpg);
}

#container {
	overflow: hidden;
	width: 787px;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#background {
	background-image: url(../images/splash-pg(1024)
.jpg);
	background-repeat: repeat-y;
	height: 768px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/splash-pg.jpg);
}
#video {
	float: left;
	height: 299px;
	width: 437px;
	margin-top: 26px;
	margin-left: 3px;
}
#info {
	background-color: #F00;
	width: 200px;
}
#footer {
	width: 500px;
	margin-right: auto;
	margin-left: 20%;
	height: auto;
	float: left;
	clear: none;
	color: #999;
	text-align: center;
	font-size: .8em;
	text-transform: capitalize;
	font-family: "Times New Roman", Times, serif;
	letter-spacing: .19em;
	margin-bottom: 5px;
}
#contacts {
	width: 797px;
	height: 170px;
	float: left;
	background-color: #000;
	margin-top: -20px;
}
li {
	line-height: 11px;
	color: #CCC;
	font-size: 0.97em;
}



#bookings {
	height: auto;
	width: 246px;
	margin-left: 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #EFEFEF;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
#public {
	height: auto;
	width: 246px;
	margin-left: 10px;
	float: left;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #EFEFEF;
}
#listing {
	height: auto;
	width: 260px;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 1em;
	margin-left: 6px;
	color: #EFEFEF;
	line-height: 8px;
	padding-right: 2px;
}
.subhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	line-height: 0px;
	text-align: center;
	color: #CCC;
}
p {
	text-align: center;
	color: #FFF;
}
h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: -4px;
	color: #FFF;
	line-height: normal;
}



#download {
	float: left;
	margin-top: 0px;
	margin-left: 19px;
	height: 380px;
	padding-top: 0px;
	width: 277px;
}
#dload2 {
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}

#btn1 {
	float: left;
	margin-left: 215px;
	clear: none;
	margin-top: 25px;
	margin-bottom: 2px;
}
#cd {
	float: left;
	margin-top: 0px;
	margin-left: 0px;
}





/*  HEADER AREA
--------------------------------*/


#header {
	float:left;
	width: 787px;
	height: 181px;
	padding: 0px;
	margin: 0px;
	background-image: url(../images/header.jpg);
}




/*  MAIN NAVIGATION
--------------------------------*/



#nav {
	float:left;
	width: 450px;
	height: 35px;
	background-color:#333;
	border-top: 2px solid #000;
		border-bottom: 1px solid #000;
	padding: 0px;
	margin: 0px;
}







/*  MAIN CONTENT
--------------------------------*/

#content {
	float: left;
	background-image: url(../images/content(1024).jpg);
	background-repeat: repeat;
	padding: 0px;
	margin: 0px;
	height: 400px;
	width: 787px;
	border-bottom-style: none;
	color: #FFF;
	background-image: url(../images/content.jpg)
.jpg);
	background-image: url(../images/content.jpg);
	background-color: #000;
}



/*  TYPOGRAPHY ELEMENTS
--------------------------------*/

a:link {color:#FF0000;}
a:hover {color:#FF00FF;}




/*  IMAGE ELEMENTS
--------------------------------*/
#follow {
	float: left;
	width: auto;
	margin-left: 700px;
	margin-top: 90px;
}
#myspace {
	float: left;
}
a img {
	border:none;
	
}

#twitter {
	float: left;
}
#facebook {
	float: left;
}
