@charset "utf-8";
/* CSS Document */

body	{
	width: 100%;
	background-color: #424D55;
	margin: 0 auto;	
}

#wrapper	{
	float: left;
	width: 100%;
	padding: 15% 0% 0% 0%;	 	
}


img#logo	{
	display: block;
	width: 403px;
	height: 198px;
	margin: 0 auto;	
	border: none;
}

img#mobile-logo	{
	display: none;
	width: 150px;
	height: 51px;
	margin: 0 auto;	
	border: none;
}