/* 
CSS Document (stylesheet.css)
Main Stylesheet
*/

/* RESET
---------------------------------------------------- */
ol, ul {
	list-style: none;
}
article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* BODY AND CONTAINER
	---------------------------------------------------- */
	body {
	font-size: 76%;
	/*border-top: 10px solid #424d55;*/
		background: #fff;
	padding: 0px;
	margin: 0px;
}
#container {
	overflow: hidden;
	min-width: 1375px /*100%*/;
	max-width: 1920px;
	background-color: #fff;
	padding: 0px;
	margin: 0 auto;
	z-index: 10;
}
/* CONTENT AREA
	---------------------------------------------------- */
	#content-wrapper {
	/*float: left;*/
	width: 1585px /*100%*/;
	background-color: #fff;
	/*padding: 0 0 50px 0;*/
	margin: 0 auto;
}
#content-area {
	float: left;
	width: 1300px /*97%*/;
	min-height: 200px;
	background-color: #fff;
	/*	border-bottom: solid #f2f6f7 70px;
*/	padding: 30px 0px 0px 168px /*30px 0px 0px 3%*/;
}
/* HOME PAGE VALUED ICONS AREA
	---------------------------------------------------- */
	.hidden {
	display: none;
}
	ul#valued-icons {
	font-family: Antipasto;
	font-weight: 400;
	font-size: 1em;
	width: 1200px;
	height: 255px;
	margin: 0 auto;
	padding: 50px 0px 0px 50px;
}
ul#valued-icons li {
	font-family: Antipasto;
	font-size: 1.75em;
	color: #999999;
	font-weight: 400;
	text-align: center;
	list-style: none;
	float: left;
	margin: 0px 100px 0px 5px;
}
ul#valued-icons li.details {
	text-align: center;
	font-size: 1.5em;
	width: 130px;
	margin: 0px 120px 0px 20px;
}
#valued-icons .email-details {
	text-align: center;
	font-size: 1.5em;
	width: 200px;
	margin: 0px 120px 0px 0px;
}
ul#valued-icons li#time-management{
	/*float: left;*/
	height: 200px;
	width:195px;
	background: url("../images/value-icons.png") repeat scroll 0px 640px transparent;/*margin: 0 auto;*/	
}

#valued-icons #time-management a {
	/*float: left;*/
	height: 200px;
	width:195px;
}

#valued-icons a {
  display: block;   
}
#valued-icons #customer-satisfaction {
	/*float: left;*/
	height: 200px;
	width:195px;
	background: url("../images/value-icons.png") repeat scroll -320px 640px transparent;/*margin: 0 auto;*/
}
#valued-icons #customer-satisfaction a {
	height: 200px;
	width:195px;
}

#valued-icons #communication{
	/*float: left;*/
	height: 200px;
	width:195px;
	background: url("../images/value-icons.png") repeat scroll -630px 640px transparent;/*margin: 0 auto;*/
}
#valued-icons #communication a {
	height: 200px;
	width:195px;
}

#valued-icons #portfolio-sample{
	/*float: left;*/
	height: 200px;
	width:195px;
	background: url("../images/value-icons.png") repeat scroll 180px 640px transparent;/*margin: 0 auto;*/
}
#valued-icons #portfolio-sample a {
	height: 200px;
	width:195px;
}
article#introduction {
	font-family: Antipasto;
	font-size: 1.5em;
	font-weight: 400;
	float: left;
	width: 410px;
	height: 305px;
	overflow: hidden;
	padding: 75px 0px 0px 130px /*4.85% 0 0 16.25%*/;
}
#media-display {
	float: left;
	width: 565px;
	/*height: 300px;*/		
	padding: 100px 0px 0px 100px;
}
/* ABOUT AND CASE STUDY PAGES
	---------------------------------------------------- */
	article#inside {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	width: 530px;
	padding: 10px 0px 50px 102px;
}
article#inside h3 {
	padding: 20px 0px 15px 0px;
}
#media-display-inside {
	float: left;
	font-size: 1.5em;
	width: 565px;
	/*height: 300px;*/		
		padding: 50px 0px 0px 100px;
}
.case, #results {
	display: none;
	padding: 15px 0px 0px 0px;
}
#button {
	width: 90px;
	cursor: pointer;
}
#button:hover {
	color: #58839a;
}

/* SERVICE TABLE 
---------------------------------------------------------*/
p#services-heading	{
	font-family: Antipasto;
	color: #fff;	
		font-size: 1.5em;
		text-align: right;
	width: 720px;
	height: 50px;
	margin: 0px;
	padding: 35px 10px 0px 0px;
}

table.user-list {
	width: 700px;
	margin: 0 auto;
	border-collapse:collapse;
}
table.user-list thead tr {
	font-family: Antipasto;
	text-align: left;/*background-color: #940606;*/
}
table.user-list thead tr th {
	color: #FFF;
	padding: 8px;
	border-bottom: 1px solid #FFF;
	border-right: 1px solid #FFF;
}
table.user-list thead tr th:first-child {
	width: 40%;
}
/*table.user-list tbody tr:nth-child(odd) {
	background-color:#FFF;
}
table.user-list tbody tr:nth-child(even) {
	background-color:#EEE;
}*/
table.user-list tbody tr td, table.user-list tfoot tr td {
	font-family: Antipasto;
	font-size: 1.25em;
	color: #666;
	padding: 28px 20px 0px 15px;
}
table.user-list tr td.heading {
	font-family: Antipasto;
		text-align: right;
		vertical-align: top;

		text-transform: uppercase;
}
table.user-list tfoot tr td {
	text-align: right;
	border-top: 1px solid #06C;
}
table.user-list tbody tr td a {
	text-decoration: none;
	display:block;
	padding: 3px;
}
table.user-list tbody tr td a:link, table.user-list tbody tr td a:visited {
	color:#900;
}
table.user-list tbody tr td a:hover, table.user-list tbody tr td a:active {
	color:#FFF;
	background-color:#900;
}
table.ui-user-form {
	width: 100%;
}
fieldset {
	border: none;
	border-bottom: 1px dashed #555;
}
fieldset legend {
	font-size: 14px;
	color:#06C;
	border-bottom: 1px solid #06C;
}
table.ui-user-form tbody tr td {
	width: 50%;
	padding: 10px;
}
table.ui-user-form tbody tr td label {
	display:block;
	color:#555;
	font-weight: bold;
}
table.ui-user-form tbody tr td input, table.ui-user-form tbody tr td select {
	width: 97%;
}
.ui-form-controls {
	padding: 10px;
	text-align: left;
}
ul.languages {
	width: 464px;
	padding: 0px;
	margin: 0px;
}
ul.languages li {
	float: left;
	display: inline-block;
	margin: 0px 0px 20px 0px;
}
/* SERVICE GRAPH 
---------------------------------------------*/

.tiny-green {
	position: relative;
	padding: 3px;
	width: 400px;
	/*background-image:-moz-linear-gradient(53% 13% -90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
	background-image:-webkit-gradient(linear,53% 13%,53% 79%,color-stop(0, rgb(58,64,80)),color-stop(0.47, rgb(58,64,80)),color-stop(0.48, rgb(46,50,62)),color-stop(1, rgb(46,50,62)));
	background-image:-webkit-linear-gradient(-90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
	background-image:linear-gradient(-180deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);*/
	background-color: #f2f2f2;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Webkit */
	border-radius: 10px;
}
.tiny-green div {
	font-family: arial;
	font-size: 15px;
	color: white;
	text-align: right;
	text-shadow: 0px 0px 2px #000;
	text-indent: 9999px;
	overflow: hidden;
	/*background-image:-webkit-gradient(linear,71% 25%,71% 69%,color-stop(0, rgb(118,177,1)),color-stop(0.47, rgb(118,177,1)),color-stop(0.48, rgb(102,153,0)),color-stop(1, rgb(102,153,0)));
	background-image:-webkit-linear-gradient(-90deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);
	background-image:-moz-linear-gradient(71% 25% -180deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);
	background-image:linear-gradient(-180deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);*/
	background-color: #ccc;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Webkit */
	border-radius: 10px;
}
.progressBar {
	width: 400px;
	height: 22px;
	background-color: #f2f2f2;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Webkit */
	border-radius: 5px;
}
.progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #ccc;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, 			color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .1)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
	background: -moz-linear-gradient(top, rgba(25, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
	background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
	-moz-border-radius: 5px; /* Firefox */

	-webkit-border-radius: 5px; /* Webkit */
	border-radius: 5px;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
}

/* PORFOLIO PAGES
	---------------------------------------------------- */
/*	#portfolio {
	float: left;
	width: 1115px;
	margin: 0 auto;
	padding: 40px 0px 0px 100px;
	border: none;
}
*/
#portfolio {
	font-size: 1em;
	float: left;
	width: 1300px /*90%*/;
	min-height: 200px;
	background-color: #fff;
	padding: 30px 0px 0px 168px /*10%*/;
	border: none;/*	border-bottom: solid #f2f6f7 40px 70px;*/
}
#tabs-1, #tabs-2, #tabs-3 {
	padding: 75px 0px 0px 100px
}
.portfolio-work-wrapper {
	font-family: Antipasto;
	color: #666;
	font-weight: 400;
	float: left;
	width: 335px;
	height: 400px;
	/*background-color: #ccc;
		box-shadow: 10px 10px 5px #888888;*/
		margin: 0px 35px 0px 0px;
}
ul#portfolio-pages {
	/*float: left;*/
	display: block;
	margin: 0px;/*	padding: 0px 0px 0px 140px 298px;
*/
}
ul#portfolio-pages li {
	font-family: Antipasto;
	font-size: 1.5em;
	color: #404c53;
	font-weight: 400;
	float: left;
	background-image: url(../images/portfolio-nav-bullet.gif);
	background-repeat: no-repeat;
	background-position: right;
	display: inline-block;
	list-style: none;
	padding: 0px 35px 0px 15px;
}
/* CONTACT PAGE
	----------------------------------------------------*/
	
	ul#contact-icons {
	font-family: Antipasto;
	font-weight: 400;
	font-size: 1em;
	width: 1200px;
	height: 255px;
	margin: 0 auto;
	padding: 50px 0px 0px 100px;
}
ul#contact-icons li {
	font-family: Antipasto;
	font-size: 1.75em;
	color: #999999;
	font-weight: 400;
	text-align: center;
	list-style: none;
	float: left;
	/*width: 145px;
		height: 275px;*/
		margin: 0px 160px 0px 5px;
}
ul#contact-icons li.details {
	text-align: center;
	font-size: 1.5em;
	width: 130px;
	margin: 0px 120px 0px 20px;
}
ul#contact-icons li.email-details {
	text-align: center;
	font-size: 1.5em;
	width: 200px;
	margin: 0px 120px 0px 0px;
}
ul#contact-icons li#large-phone-icon {
	/*float: left;*/
	height: 200px;
	width:135px;
	background: url("../images/sprite-icons.png") repeat scroll -10px 550px transparent;/*margin: 0 auto;*/
}
ul#contact-icons li#email-icon {
	/*float: left;*/
	height: 200px;
	width:135px;
	background: url("../images/sprite-icons.png") repeat scroll -149px 550px transparent;/*margin: 0 auto;*/
}
ul#contact-icons li#facebook-icon {
	/*float: left;*/
	height: 200px;
	width:135px;
	background: url("../images/sprite-icons.png") repeat scroll -284px 550px transparent;/*margin: 0 auto;*/
}
ul#contact-icons li#twitter-icon {
	/*float: left;*/
	height: 200px;
	width:135px;
	background: url("../images/sprite-icons.png") repeat scroll -421px 550px transparent;/*margin: 0 auto;*/
}
ul#contact-icons li#instagram-icon {
	/*float: left;*/
	height: 200px;
	width:135px;
	background: url("../images/sprite-icons.png") repeat scroll -561px 550px transparent;/*margin: 0 auto;*/
}
article.services {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	/*width: 13.5%;*/
	height: auto;
	/*margin: 0% 0% 0% 8%;*/
	padding: 40px 0px 0px 37px
}
article.services ul li h4 {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}
article.services ul li h4 a {
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	text-decoration: none;
}
article.services ul li h4 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #58839a;
	text-decoration: none;
}
ul.services li {
	font-size: .9em;
	color: #333;
	/*text-align: center;*/
	margin: 0% 7% 0% 0%;
}
article.services ul.details {
	/*background-color: #CCC;*/
	width: 95%;
}
article.services ul.details li {
	/*background-color: #306;*/
	width: 70%;
	padding: 0px 0px 0px 70px;
	font-size: 1em;
}
article.services ul.details li.linkedIn {
	/*background-color: #306;*/
	width: 70%;
	padding: 0px 0px 0px 45px;
	font-size: 1em;
}
article#mission {
	float: left;
	width: 1200px;
	padding: 0px 0px 50px 0px;/*width: 90%;
	background-color: #f3f3f3;*/
}
article#mission #left-collumn {
	float: left;
	font-family: Antipasto;
	font-size: 1.5em;
	color: #333;
	font-weight: 400px;
	width: 487px;
	padding: 80px 0px 0px 25px;
}
/*article#mission #left-collumn h2	{
	font-size: 2em;
		color: #3f4c52;
}*/

article#mission #left-collumn p {
	font-size: 1em;
	font-weight: 400;
	padding: 0px 0px 0px 100px;
}
/*article#mission #left-collumn p.right-aligned	{
	line-height: 1.25em;
	text-align: right;	
}

article#mission #left-collumn p.right-aligned .bold	{
	font-weight: bold;
	color: #ac0cd3;	
}
article#mission #right-collumn p.left-aligned	{
	width: 70%;
	line-height: 1.25em;
	text-align: left;	
	padding: 5% 0% 0% 25%;
}

article#mission #right-collumn p.left-aligned .bold	{
	font-weight: bold;
	color: #ac0cd3;
}
*/


article#mission #right-collumn {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #333;
	line-height: 1.25em;
	width: 550px;
	/*height: 110px;*/
	padding: 145px 0px 0px 85px;
}
/*article#mission #right-collumn p	{
	font-size: .75em;
}*/


	/* HEADER AREA
	---------------------------------------------------- */
	header {
	overflow: visible;
	float: left;
	width: 1335px /*84.35%*/;
	height: /*110px*/ 80px;
	background-image: url(../images/header-bg.gif);
	background-repeat: repeat-x;
	background-color: #424d55;
	/*opacity: .85;*/
	padding:/*40px*/20px 0px 0px 248px;
	transition: height 2s;
}
.sticky {
	position: fixed;
	top: 0px;
	z-index: 100000;
	border-top: 0;
	transition: height 2s;
	height: 50px;
	opacity: .85;
	background-color: #424d55;
	background-image: none;
	padding: 10px 0px 10px 130px;
}
/* MAIN NAVIGATION
	---------------------------------------------------- */
	nav {
	float: left;
	width: 700px;
	text-align: right;
	padding: 0px;
	margin: 0px;
	padding: 20px 0px 0px 290px;
}
nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
nav ul li {
	font-family: Antipasto;
	font-size: 2em;
	text-transform: lowercase;
	text-align: center;
	font-weight: 400;
	color: #fff;
	float: left;
	display: inline-block;
	height: 30px;
	width: 140px;
	background-image: url(../images/nav-bullet.gif);
	/*background-image: url(../images/nav-bullet.gif);*/
	background-repeat: no-repeat;
	background-position: right;
	padding: 0px 0px 0px 20px;
	margin: 0px;
}
#menu {
	font-family: Antipasto;
	font-size: 2em;
	text-transform: lowercase;
	text-align: center;
	font-weight: 400;
	color: #fff;
	float: left;
	/*display: inline-block;*/
	display: none;
	height: 30px;
	width: 140px;
	background-image: url(../images/menu-icon.gif);
	background-repeat: no-repeat;
	background-position: right;
	padding: 0 0px 0 0px;
	margin: 0px;
}
.dropdown {
	position:relative;
	/*background-image: url(../images/menu-icon.gif);*/
	background-image: url(../images/menu-icon.gif);
	background-repeat: no-repeat;
	background-position: right;
	padding: 0px;
}
.dropdown-toggle:focus {
	outline:0
}
.dropdown-menu {
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:right;
	min-width:160px;
	padding:5px 0;
	/*margin:2px 0 0;*/
	list-style:none;
	font-size:.5em;
	background-color:#424d55;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,.15);
	border-radius:4px;
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
	box-shadow:0 6px 12px rgba(0,0,0,.175);
	background-clip:padding-box
}
.no-icon {
	background-image: none;
}
.no-icon:first-of-type {
	background-image: none;
	border-bottom: solid thick #ccc;
}
.dropdown-menu.pull-right {
	right:0;
	left:auto
}
.dropdown-menu .divider {
	height:1px;
	margin:9px 0;
	overflow:hidden;
	background-color:#e5e5e5
}
.dropdown-menu>li>a {
	font-size: .75em;
	display:block;
	padding:0px;
	text-align: left;
	clear:both;
	font-weight:400;
	line-height:1.42857143;
	color:#738593;
	white-space:nowrap;
	background-image: none;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	text-decoration:none;
	color:#fff;
	background-image: none;/*background-color:#738593;*/
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color:#fff;
	text-decoration:none;
	outline:0;
	background-color:#428bca
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
	color:#999
}
.dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
	text-decoration:none;
	background-color:transparent;
	background-image:none;
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	cursor:not-allowed
}
.open>.dropdown-menu {
	display:block
}
.open>a {
	outline:0
}
nav ul li a {
	display: block;
	letter-spacing: 1px;
	color: #f0f0f0;
	font-weight: 400px;
	width: 140px;
	text-decoration: none;
	-o-transition:color 2s ease-out, background .5s ease-in;
	-ms-transition:color 2s ease-out, background .5s ease-in;
	-moz-transition:color 2s ease-out, background .5s ease-in;
	-webkit-transition:color 2s ease-out, background .5s ease-in;
}
nav ul li a:hover {
	color: #fff;
	font-weight: 400px;
	-o-transition:color 2s ease-out, background 1s ease-in;
	-ms-transition:color 2s ease-out, background 1s ease-in;
	-moz-transition:color 2s ease-out, background 1s ease-in;
	-webkit-transition:color 2s ease-out, background .5s ease-in;
}
#selected {
	background: #fff;
}
/* SLIDESHOW AREA
	---------------------------------------------------- */
	#slide-show {
	float: left;
	width: /*1350px*/ 100%;
	height: 335px;
	background-color: #f6f8f9;
	border-bottom: solid 5px #e1e1e5;
	overflow: hidden;
}
.blueimp-gallery, .blueimp-gallery > .slides > .slide > .slide-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*width: 100%;*/
	/* Prevent artifacts in Mozilla Firefox: */
	  -moz-backface-visibility: hidden;
}
.blueimp-gallery > .slides > .slide > .slide-content {
	/*  margin: auto;
	  width: auto;
	  height: auto;
	  max-width: 100%;
	  max-height: 100%;*/
	  opacity: 1;
}
.blueimp-gallery {
	position: fixed;
	z-index: 999999;
	overflow: hidden;
	/*background: #000;
	  background: rgba(0, 0, 0, 0.9);
	  opacity: 0;*/
	  display: none;
	/*  width: 1350px;*/
	  direction: ltr;
	-ms-touch-action: none;
	touch-action: none;
}
.blueimp-gallery-carousel {
	position: relative;
	z-index: auto;
	/*margin: 1em auto;*/
	  /* Set the carousel width/height ratio to 16/9: */
	  padding-bottom: 56.25%;
	/*box-shadow: 0 0 10px #000;*/
	  -ms-touch-action: pan-y;
	touch-action: pan-y;
}
.blueimp-gallery-display {
	display: block;
	opacity: 1;
}
.blueimp-gallery > .slides {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.blueimp-gallery-carousel > .slides {
	position: absolute;
}
.blueimp-gallery > .slides > .slide {
	position: relative;
	float: left;
	height: 100%;
	text-align: center;
	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.blueimp-gallery, .blueimp-gallery > .slides > .slide > .slide-content {
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.blueimp-gallery > .slides > .slide-loading {
	background: url(../../public_html/beta/img/loading.gif) center no-repeat;
	background-size: 64px 64px;
}
.blueimp-gallery > .slides > .slide-loading > .slide-content {
	opacity: 0;
}
.blueimp-gallery > .slides > .slide-error {
	background: url(../../public_html/beta/img/error.png) center no-repeat;
}
.blueimp-gallery > .slides > .slide-error > .slide-content {
	display: none;
}
.blueimp-gallery > .prev, .blueimp-gallery > .next {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 40px;
	height: 40px;
	margin-top: -23px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 2px #000;
	text-align: center;
	background: #222;
	background: rgba(0, 0, 0, 0.5);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: 3px solid #fff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	cursor: pointer;
	display: none;
}
.blueimp-gallery > .next {
	left: auto;
	right: 15px;
}
.blueimp-gallery > .close, .blueimp-gallery > .title {
	position: absolute;
	top: 15px;
	left: 15px;
	margin: 0 40px 0 0;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	opacity: 0.8;
	display: none;
}
.blueimp-gallery > .close {
	padding: 15px;
	right: 15px;
	left: auto;
	margin: -15px;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
}
.blueimp-gallery > .play-pause {
	position: absolute;
	right: 15px;
	bottom: 15px;
	width: 15px;
	height: 15px;
	background: url(../../public_html/beta/img/play-pause.png) 0 0 no-repeat;
	cursor: pointer;
	opacity: 0.5;
	display: none;
}
.blueimp-gallery-playing > .play-pause {
	background-position: -15px 0;
}
.blueimp-gallery > .prev:hover, .blueimp-gallery > .next:hover, .blueimp-gallery > .close:hover, .blueimp-gallery > .title:hover, .blueimp-gallery > .play-pause:hover {
	color: #fff;
	opacity: 1;
}
.blueimp-gallery-controls > .prev, .blueimp-gallery-controls > .next, .blueimp-gallery-controls > .close, .blueimp-gallery-controls > .title, .blueimp-gallery-controls > .play-pause {
	display: block;
	/* Fix z-index issues (controls behind slide element) on Android: */
	  -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
.blueimp-gallery-single > .prev, .blueimp-gallery-left > .prev, .blueimp-gallery-single > .next, .blueimp-gallery-right > .next, .blueimp-gallery-single > .play-pause {
	display: none;
}
.blueimp-gallery > .slides > .slide > .slide-content, .blueimp-gallery > .prev, .blueimp-gallery > .next, .blueimp-gallery > .close, .blueimp-gallery > .play-pause {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Replace PNGs with SVGs for capable browsers (excluding IE<9) */
	body:last-child .blueimp-gallery > .slides > .slide-error {
	background-image: url(../../public_html/beta/img/error.svg);
}
body:last-child .blueimp-gallery > .play-pause {
	width: 20px;
	height: 20px;
	background-size: 40px 20px;
	background-image: url(../../public_html/beta/img/play-pause.svg);
}
body:last-child .blueimp-gallery-playing > .play-pause {
	background-position: -20px 0;
}
/* IE7 fixes */
	*+html .blueimp-gallery > .slides > .slide {
	min-height: 300px;
}
*+html .blueimp-gallery > .slides > .slide > .slide-content {
	position: relative;
}
/*
	 * blueimp Gallery Indicator CSS 1.1.0
	 * https://github.com/blueimp/Gallery
	 *
	 * Copyright 2013, Sebastian Tschan
	 * https://blueimp.net
	 *
	 * Licensed under the MIT license:
	 * http://www.opensource.org/licenses/MIT
	 */
	
	.blueimp-gallery > .indicator {
	position: absolute;
	top: auto;
	right: 15px;
	bottom: 15px;
	left: 15px;
	margin: 0 40px;
	padding: 0;
	list-style: none;
	text-align: center;
	line-height: 10px;
	display: none;
}
.blueimp-gallery > .indicator > li {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 6px 3px 0 3px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid transparent;
	background: #ccc;
	background: rgba(255, 255, 255, 0.25) center no-repeat;
	border-radius: 5px;
	box-shadow: 0 0 2px #000;
	opacity: 0.5;
	cursor: pointer;
}
.blueimp-gallery > .indicator > li:hover, .blueimp-gallery > .indicator > .active {
	background-color: #fff;
	border-color: #fff;
	opacity: 1;
}
.blueimp-gallery-controls > .indicator {
	display: block;
	/* Fix z-index issues (controls behind slide element) on Android: */
	  -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
.blueimp-gallery-single > .indicator {
	display: none;
}
.blueimp-gallery > .indicator {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* IE7 fixes */
	*+html .blueimp-gallery > .indicator > li {
	display: inline;
}
/* TYPOGRAPHY ELEMENTS
	---------------------------------------------------- */
	@font-face {
	font-family: Antipasto;
	src: url('../fonts/Antipasto.ttf');
}
/*@font-face {
    font-family: 'Antipasto';
    src: url('fonts/portagoitc-tt.eot');
    src: url('fonts/portagoitc-tt.eot?iefix') format('opentype'),
         url('fonts/portagoitc-tt.woff') format('woff'),
         url('fonts/portagoitc-tt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/h1 {
	font-family: Antipasto;
	color: #000033;
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	line-height: 1em;
}
h2 {
	font-family: Antipasto;
	font-size: 2.25em;
	color: #3f4c52;
	font-weight: 400;
	/*width: 600px;*/
		margin: 0px;
	padding: 0px 0px 0px 100px;
}
h2.links {
	text-align: center;
	font-weight: 400px;
}
h2.form {
	font-family: Antipasto;
	line-height: 1.9em;
	font-weight: 400;
}
h3 {
	font-family: Antipasto;
	color: #3f4c52;
	font-size: 3.75em;
	text-align: left;
	font-weight: 400;
	margin: 0px;
	padding: 40px 0px 0px 100px;
}
h4 {
	font-family: Antipasto;
	font-size: 1.5em;
	color: #414c54;
	font-weight: 400;
	margin-bottom: 0px;
}
h5.article-title {
	font-family: Antipasto;
	color: #3f4c52;
	font-size: 2.5em;
	text-align: left;
	font-weight: 400;
	margin: 0px;
	padding: 40px 0px 0px 0px;
}
#view-services {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: Antipasto;*/
			text-align: right;
	font-size: 1.5em;
	color: #334c5a;
	padding: 0px 60px 0px 10px;
}
#view-resume {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: Antipasto;*/
			text-align: right;
	font-size: 1.5em;
	color: #334c5a;
}
.view {
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: Antipasto;*/
			text-align: right;
	font-size: 1.5em;
	color: #334c5a;
}
.samples-text {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	/*font-size: 1.5em;*/
			color: #fff;
	background-color: #e45136;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 0px 5px;
}
article#inside p {
	font-size: 1.2em;
	color: #666;
	line-height: 2em;
	margin: 0px;
}
.question {
	float: left;/*font-family: Antipasto;
			font-size: 2.25em;
			color: #3f4c52;
		width: 600px;
		margin: 0px;
		padding: 0px 0px 0px 100px;*/
}
.contact-question {
	float: none;
	font-family: Antipasto;
	font-size: 2.25em;
	color: #3f4c52;
	font-weight: 400;
	width: 600px;
	margin: 0px;
	padding: 0px 0px 0px 100px;
}
article#inside h2 span.grey {
	color: #999;
	font-weight: 400px;
}
h1.question-header {
	color: #3f4c52;
	text-align: left;
	background-image:url(../images/time-management-icon.png);
	background-repeat: no-repeat;
	background-position: 40px 0px;
	height: 48px;
	margin: 0px;
	padding: 0px 0px 0px 100px;
}
h1.portfolio-question-header {
	color: #3f4c52;
	text-align: left;
	background-image:url(../images/portfolio-icon.png);
	background-repeat: no-repeat;
	background-position: 40px 0px;
	height: 48px;
	margin: 0px;
	padding: 0px 0px 0px 100px;
}
h1.contact-question-header {
	color: #3f4c52;
	text-align: left;
	background-image:url(../images/portfolio-icon.png);
	background-repeat: no-repeat;
	background-position: 40px 0px;
	height: 48px;
	margin: 0px;
	padding: 0px 0px 0px 100px;
}

.q2 {
	color: #3f4c52;
	font-size: 3.75em;
	text-align: left;
	margin: 0px;
	padding: 100px 0px 0px 100px;
}
article#introduction h2 {
	font-size: 2.5em;
	color: #334c5b;
	margin: 0px;
	padding: 0px;
	line-height: 45px;
}
article#introduction h2.grey {
	color: #999;
}
/* CONTACT FORM 
	---------------------------------------------------*/
	#inline {
	font-family: Antipasto;
	float: left;
	background-color: #fff;
	/*font-size: 1.5em;*/
		display: none;
	width: 800px;
	height: 600px;
	margin: 0 auto;
}
#inline div#lb {
	background: url(../images/services-lightbox-bg.jpg);
	background-repeat: repeat-x;
	width: 800px;
	height: 80px;
}
#inline div#lb-footer {
	float: left;
	background: url(../images/services-footer-lightbox-bg.jpg);
	background-repeat: repeat-x;
	width: 800px;
	height: 80px;
}
#lb-wrapper {
	float: left;
	width: 800px;
	height: 400px;
	padding: 40px 0px 0px 0px;
}
.form-text {
	font-family: Antipasto;
	font-size: 1.5em;
	font-weight: 400;
}
table.email-form {
	width: 100%;
	margin: 15px 0px 0px 0px;
}
fieldset {
	border: none;
}
fieldset legend {
	font-size: 14px;
	color:#06C;
	border-bottom: 1px solid #06C;
}
table.email-form tbody tr td {
	width: 50%;
	padding: 0px;
}
table.email-form tbody tr.test {
	width: 30px;
}
table.email-form tbody tr td a {
	color: #b7fff4;
}
table.email-form tbody tr td label {
	display:block;
	color:#555;
	font-weight: bold;
}
table.email-form tbody tr td input, table.email-form tbody tr td select {
	width: 97%;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 20px;
	width: 400px;
	/*height: 30px;
	padding: 10px;*/
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.34);
	border: solid 1px #fff;
}
.txtarea {
	display: block;
	resize: none;
	color: #676767;
	font-family: Arial, Tahoma, sans-serif;
	margin-bottom: 10px;
	width: 500px;
	height: 150px;
	border: 1px dotted #ccc;
	/*padding: 5px 9px; */
	font-size: 1.2em;
	line-height: 1.4em;
}
.txt:focus, .txtarea:focus {
	border-style: solid;
	border-color: #bababa;
	color: #444;
}
input.error, textarea.error {
	border-color: #973d3d;
	border-style: solid;
	background: #f0bebe;
	color: #a35959;
}
input.error:focus, textarea.error:focus {
	border-color: #973d3d;
	color: #a35959;
}
#send {
	color: #dee5f0;
	display: block;
	float: right;
	cursor: pointer;
	padding: 5px 11px;
	font-size: 1.2em;
	border: solid 1px #224983;
	border-radius: 5px;
	background: #1e4c99;
	background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d));
	background: -moz-linear-gradient(top, #2f52b7, #0e3a7d);
	background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
	background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
	background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
	background: linear-gradient(top, #2f52b7, #0e3a7d);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d');
}
#send:hover {
	background: #183d80;
	background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b));
	background: -moz-linear-gradient(top, #284f9d, #0c2b6b);
	background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
	background: -o-linear-gradient(top, #284f9d, #0c2b6b);
	background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
	background: linear-gradient(top, #284f9d, #0c2b6b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
}
#send:active {
	color: #8c9dc0;
	background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7));
	background: -moz-linear-gradient(top, #0e387d, #2f55b7);
	background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
	background: -o-linear-gradient(top, #0e387d, #2f55b7);
	background: -ms-linear-gradient(top, #0e387d, #2f55b7);
	background: linear-gradient(top, #0e387d, #2f55b7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
}
/* IMAGE ELEMENTS
	---------------------------------------------------- */

	.size {
	width: 494px !important;
	height: 302px !important;
}
img {
	border: 0;
	vertical-align: middle;
}
#main-logo {
	float: left;/*padding: 30px 0px 0px 110px;*/
}
.website-comps {
	box-shadow: 0px 8px 10px #888888;
	-webkit-transition:width 1s, height 1s, -webkit-transform 1s; /* For Safari 3.1 to 6.0 */
	transition:width .5s, height .5s, transform .5s;/*-ms-transform:scale(1.25, 1.25);*/ /* IE 9 */
}
.website-comps:hover {
	-webkit-transition:width 1s, height 1s, -webkit-transform 1s; /* For Safari 3.1 to 6.0 */
	transition:width .5s, height .5s, transform .5s;
	-ms-transform:scale(1.05, 1.05); /* IE 9 */
	-webkit-transform:scale(1.05, 1.05); /* Chrome, Safari, Opera */
	transform:scale(1.05, 1.05); /* Standard syntax */
}
#divider {
	clear: both;
	display: block;
	height: 18px;
	/*width: 1040px;*/
		padding: 35px 0px 30px 10px;
}
#services-logo	{
	float: left;
	width: 245px;
	height: 70px;
	padding: 0px 0px 0px 20px;	
}
/* LINKS
	---------------------------------------------------- */	
	a {
	color: #334c5a;
	text-decoration: none;
}
a:hover {
	color: #58839a;
}
a:hover .samples-text {
	background-color: #334c5b;
	-o-transition:color .2s ease-out, background 1s ease-in;
	-ms-transition:color .2s ease-out, background 1s ease-in;
	-moz-transition:color .2s ease-out, background 1s ease-in;
	-webkit-transition:color .2s ease-out, background .5s ease-in;
}
a .samples-text {
	-o-transition:color .2s ease-out, background 1s ease-in;
	-ms-transition:color .2s ease-out, background 1s ease-in;
	-moz-transition:color .2s ease-out, background 1s ease-in;
	-webkit-transition:color .5s ease-out, background .5s ease-in;
}
	/* SCROLLBAR 
	---------------------------------------------------*/
::-webkit-scrollbar {
    width: 20px;
}
 
::-webkit-scrollbar-track {
	background-color: #f7f8fa;
    border-radius: 4px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
	width: 7px;
	background-color: #fff;
}/* FOOTER AREA
	---------------------------------------------------- */
	footer {
	font-family: Antipasto;
	font-size: 1.5em;
	color: #fff;
	font-weight: 400;
	/*font-weight: bold;*/
			text-align: right;
	float: left;
	width: 1445px /*85.25%*/;
	height: 55px;
	background-image:url(../images/footer-bg.gif);
	background-repeat: repeat-x;
	background-color: #424d55;
	padding: 25px 140px 0px 0px /*1.55% 14.75% 0 0*/;
	border-top: solid #f2f6f7 70px;
}
/* MAIN CAROUSEL
	---------------------------------------------------*/
	.carousel-inner2 {
	position:relative;
	width:100%;
	height: 335px;
	overflow:hidden;
}
.carousel-inner2>.item {
	position:relative;
	display:none;
	-webkit-transition:.6s ease-in-out left;
	transition:.6s ease-in-out;
}
.carousel-inner2>.item>img, .carousel-inner>.item>a>img {
	display:block;
	height:auto;
	max-width:100%;
	line-height:1
}
.carousel-inner2>.active, .carousel-inner>.next, .carousel-inner>.prev {
	display:block
}
.carousel-inner2>.active {
	left:0
}
.carousel-inner2>.next, .carousel-inner>.prev {
	position:absolute;
	top:0;
	width:100%
}
.carousel-inner2>.next {
	left:100%
}
.carousel-inner2>.prev {
	left:-100%
}
.carousel-inner2>.next.left, .carousel-inner>.prev.right {
	left:0
}
.carousel-inner2>.active.left {
	left:-100%
}
.carousel-inner2>.active.right {
	left:100%
}
/*
------SMALL CAROUSEL ----------------------*/

	.carousel {
	position:relative
}
.carousel-inner {
	position:relative;
	width:100%;
	height: 335px;
	overflow:hidden;
}
.carousel-inner>.item {
	position:relative;
	display:none;
	-webkit-transition:.6s ease-in-out left;
	transition:.6s ease-in-out;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display:block;
	height:auto;
	max-width:100%;*/
	line-height:1
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
	display:block
}
.carousel-inner>.active {
	left:0
}
.carousel-inner>.next, .carousel-inner>.prev {
	position:absolute;
	top:0;
	width:100%
}
.carousel-inner>.next {
	left:100%
}
.carousel-inner>.prev {
	left:-100%
}
.carousel-inner>.next.left, .carousel-inner>.prev.right {
	left:0
}
.carousel-inner>.active.left {
	left:-100%
}
.carousel-inner>.active.right {
	left:100%
}
.carousel-control {
	position:absolute;
	top: 175px;
	bottom:0;
	left:0;
	width:15%;
	font-size:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
	opacity:.5;
	filter:alpha(opacity=50)
}
.carousel-control.left {
	margin: -115px 0px 0px 505px;
	height: 58px;
	width: 58px;
/*background-image:-webkit-gradient(linear, 0 top, 100% top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.0001)));
	background-image:-webkit-linear-gradient(left, color-stop(rgba(0,0,0,0.5) 0), color-stop(rgba(0,0,0,0.0001) 100%));
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
	background-image:linear-gradient(to right, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)*/
}
.carousel-control.right {
	right:0;
	left:auto;
	top: 0;
	height: 58px;
	width: 58px;
	
	/*background-image:-webkit-gradient(linear, 0 top, 100% top, from(rgba(0,0,0,0.0001)), to(rgba(0,0,0,0.5)));
	background-image:-webkit-linear-gradient(left, color-stop(rgba(0,0,0,0.0001) 0), color-stop(rgba(0,0,0,0.5) 100%));
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.5) 100%);
	background-image:linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.5) 100%);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)*/
}
.carousel-control:hover, .carousel-control:focus {
	color:#fff;
	text-decoration:none;
	opacity:.9;
	filter:alpha(opacity=90)
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	position:absolute;
	top:50%;
	left:50%;
	z-index:5;
	display:inline-block
}
.carousel-control .icon-prev, .carousel-control .icon-next {
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	font-family:serif
}
.carousel-control .icon-prev:before {
	content:'\2039'
}
.carousel-control .icon-next:before {
	content:'\203a'
}
.carousel-indicators {
	position:absolute;
	bottom:10px;
	left:50%;
	z-index:15;
	width:60%;
	padding-left:0;
	margin-left:-30%;
	text-align:center;
	list-style:none
}
.carousel-indicators li {
	display:inline-block;
	width:10px;
	height:10px;
	margin:1px;
	text-indent:-999px;
	cursor:pointer;
	border:1px solid #fff;
	border-radius:10px
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	margin:0;
	background-color:#fff
}
.carousel-caption {
	position:absolute;
	right:15%;
	bottom:20px;
	left:15%;
	z-index:10;
	padding-top:20px;
	padding-bottom:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,0.6)
}
.carousel-caption .btn {
	text-shadow:none
}

