/* MAIN NAVIGATION
	---------------------------------------------------- */

@media screen and (min-width:300px ) and (max-width: 699px){



nav {
    display: none;
}
#mobile-nav {
    display: none;
    background-color: #788996;
    margin: 0em -2em 0em -2em;
    padding: 0em;
}
#navigation-links{
    margin:0em;
    padding: 0em;
}
.mobile-nav-links {
    font-family: Antipasto;
    font-size: 2em;
    text-align: center;
    color: #fff;
    padding: .2em;
    background-color: #e9f3f9e6;
    list-style: none;
    border-bottom: solid #788996;
}
.hamburger {
    background-color: #505d66;
    position: absolute;
    /* top: 0em; */
    right: 0;
    line-height: 0em;
    padding: 3em .75em 2em 1em;
    color: #ead6d6;
    border: 0;
    font-size: 1.95em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin: -2em 0em 0em 0em;
    /* z-index: 10000000000000; */
}



.cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:7px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}

label{
    cursor: pointer;
    color: #06a3e9;
}

.checkbox{
    width: 30px;
    height: 30px;
    background-color:#ddd;
    position: relative;
}

.checkbox input[type="checkbox"]{
    display:none;
}

.checkbox label {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: white;
    cursor: pointer;
}

.checkbox label:before{
    content: '';
    width: 14px;
    height: 5px;
    border: 3px solid white;
    position: absolute;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    top: 8px;
    left: 8px;
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked +label:before{
    opacity: 1;
}

.checkbox input[type="checkbox"]:checked + label{
    background-color: #06a3e9;
}

button#nextButton {
    width: 58px;
    height: 58px;
    background: url("../images/right-slidder-button.png");
    border: none;
    top: 60px;
    /*left: 15px;*/
}
button#prevButton {
    width: 58px;
    height: 58px;
    background: url("../images/left-slidder-button.png");
    border: none;
    float: left;
    /*top:840px;*/
    /*left: 15px;*/
}
button#prevButton, button#nextButton {
    /*position: absolute;*/
    z-index: 9999999;
    display: block;
}

.samples-text {
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: right;*/
    /* font-size: 1.5em; */
    color: #fff;
    background-color: #e45136;
    border-radius: 10px;
    /*padding: 5px 10px 5px 10px;*/
    /*margin: 0px 0px 0px 5px;*/
}


}

@media screen and (min-width: 800px){
    #mobile-nav, .hamburger{
        display: none;
    }
    nav {
        display: block;
        /*width: 700px;*/
        text-align: right;
        margin: 0px;
        padding: 0em 1em 0em 25em;    }
    nav ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    nav ul li {
        font-family: Antipasto;
        font-size: 2em;
        text-transform: lowercase;
        text-align: center;
        font-weight: 400;
        color: #fff;
        float: left;
        display: inline-block;
        height: 30px;
        width: 140px;
        background-image: url(../images/nav-bullet.gif);
        /*background-image: url(../images/nav-bullet.gif);*/
        background-repeat: no-repeat;
        background-position: right bottom;
        padding: 0em 0em 0em 1.25em;
        margin: 0em;
    }
    #menu {
        font-family: Antipasto;
        font-size: 2em;
        text-transform: lowercase;
        text-align: center;
        font-weight: 400;
        color: #fff;
        float: left;
        /*display: inline-block;*/
        display: none;
        height: 30px;
        width: 140px;
        background-image: url(../images/menu-icon.gif);
        background-repeat: no-repeat;
        background-position: right;
        padding: 0 0px 0 0px;
        margin: 0px;
    }
    .hide-nav-link	{
        display: none;
    }
    .dropdown {
        position:relative;
        /*background-image: url(../images/menu-icon.gif);*/
        background-image: url(../images/menu-icon.gif);
        background-repeat: no-repeat;
        background-position: right;
        padding: 0px;
    }
    .dropdown-toggle:focus {
        outline:0
    }
    .dropdown-menu {
        position:absolute;
        top:100%;
        left:0;
        z-index:1000;
        display:none;
        float:right;
        min-width:160px;
        padding:5px 0;
        /*margin:2px 0 0;*/
        list-style:none;
        font-size:.5em;
        background-color:#424d55;
        border:1px solid #ccc;
        border:1px solid rgba(0,0,0,.15);
        border-radius:4px;
        -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
        box-shadow:0 6px 12px rgba(0,0,0,.175);
        background-clip:padding-box
    }
    .no-icon {
        background-image: none;
    }
    .no-icon:first-of-type {
        background-image: none;
        border-bottom: solid thick #ccc;
    }
    .dropdown-menu.pull-right {
        right:0;
        left:auto
    }
    .dropdown-menu .divider {
        height:1px;
        margin:9px 0;
        overflow:hidden;
        background-color:#e5e5e5
    }
    .dropdown-menu>li>a {
        font-size: .75em;
        display:block;
        padding:0px;
        text-align: left;
        clear:both;
        font-weight:400;
        line-height:1.42857143;
        color:#738593;
        white-space:nowrap;
        background-image: none;
    }
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
        text-decoration:none;
        color:#fff;
        background-image: none;/*background-color:#738593;*/
    }
    .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
        color:#fff;
        text-decoration:none;
        outline:0;
        background-color:#428bca
    }
    .dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
        color:#999
    }
    .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
        text-decoration:none;
        background-color:transparent;
        background-image:none;
        filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
        cursor:not-allowed
    }
    .open>.dropdown-menu {
        display:block
    }
    .open>a {
        outline:0
    }
    nav ul li a {
        display: block;
        letter-spacing: 1px;
        color: #f0f0f0;
        font-weight: 400px;
        width: 140px;
        text-decoration: none;
        -o-transition:color 2s ease-out, background .5s ease-in;
        -ms-transition:color 2s ease-out, background .5s ease-in;
        -moz-transition:color 2s ease-out, background .5s ease-in;
        -webkit-transition:color 2s ease-out, background .5s ease-in;
    }
    nav ul li a:hover {
        color: #fff;
        font-weight: 400px;
        -o-transition:color 2s ease-out, background 1s ease-in;
        -ms-transition:color 2s ease-out, background 1s ease-in;
        -moz-transition:color 2s ease-out, background 1s ease-in;
        -webkit-transition:color 2s ease-out, background .5s ease-in;
    }
    #selected {
        background: #fff;
    }



}


