@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

  body {
	/*display: block;*/

	font-size: 76%;
	background-image: url(../../images/city-bg.jpg);
	background-position: fixed;	
	background-repeat: no-repeat;
	/*background-color: #999;*/
	width: 1297px;
	min-height: 2069px;
	/*height: 2000px;*/
	margin: 0px auto;
}

	#wrapper	{
		/*float: left;*/
		width: 933x;
		min-height: 1170px;
		/*height: 1800px;*/
		/*background-color:#CCC;*/
		margin: 0px 0px 0px 0px;
		}
/*-----HEADER SECTION---------*/		
	#header	{
		float: left;
		width: 946px;
		height: 255px;
		background-image: url(../../images/header-1.jpg);
	}
	
	#main-navigaton	{
	float: left;
	width: 946px;
	height: 72px;
	margin:185px 0px 0px 0px;
	}
	/* SPRITE - (MAIN-NAV)

------------------------------------- */

#sprite-wrapper {
	background-color: #000;
	float: left;
	width: 937px;
	height: 60px;
	padding: 5px 0px 5px 10px;
	margin: 0px;
	overflow: hidden;
}
/* rid the bullets and spacing - seen later */

 

#sprite {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
/* hide the sprite at the start */

 

#sprite li {
	height: 75px;
	float: left;
	overflow: hidden;
	text-indent: -9999px;
	margin: 4px;
}
/* define the big sprite image - we just hid this above */



#sprite li a {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../../images/navigation-background.jpg);
	background-repeat: no-repeat;
}
/* btn - home *******************************************/

/* what is the w/h of one sprite button? */



#sprite li.home {
	width: 148px;
	height: 75px;
	padding: 0px;
	magin: 0px;
}
/* what is the button up-state (starting) position? (Width/Height)*/ 

#sprite li.home a {
	background-position: 0px -64px;
}
/* what is the button over-state (hover) position? (Width/Height)*/ 

#sprite li.home a:hover {
	background-position: 0px 0px;
}
/* btn - audio *******************************************/

/* what is the w/h of one sprite button? */



#sprite li.audio {
	width: 148px;
	height: 75px;
}
/* what is the button up-state (starting) position? (Width/Height)*/ 

#sprite li.audio a {
	background-position: -155px -64px;
	text-display: none;
}
/* what is the button over-state (hover) position? (Width/Height)*/ 

#sprite li.audio a:hover {
	background-position: -155px 0px;
}
/* btn - bio *******************************************/

/* what is the w/h of one sprite button? */



#sprite li.bio {
	width: 148px;
	height: 75px;
}
/* what is the button up-state (starting) position? (Width/Height)*/ 

#sprite li.bio a {
	background-position: -310px -64px;
}
/* what is the button over-state (hover) position? (Width/Height)*/ 

#sprite li.bio a:hover {
	background-position: -310px 0px;
}
/* btn - photos *******************************************/

/* what is the w/h of one sprite button? */



#sprite li.photos {
	width: 148px;
	height: 75px;
}
/* what is the button up-state (starting) position? (Width/Height)*/ 

#sprite li.photos a {
	background-position: -459px -64px;
}
/* what is the button over-state (hover) position? (Width/Height)*/ 

#sprite li.photos a:hover {
	background-position: -459px 0px;
}
/* btn - events *******************************************/

/* what is the w/h of one sprite button? */



#sprite li.events {
	width: 148px;
	height: 75px;
}
/* what is the button up-state (starting) position? (Width/Height)*/ 

#sprite li.events a {
	background-position: -630px -64px;
}
/* what is the button over-state (hover) position? (Width/Height)*/ 

#sprite li.events a:hover {
	background-position: -630px 0px;
}
/* btn - bookings *******************************************/

/* what is the w/h of one sprite button? */



#sprite li.bookings {
	width: 148px;
	height: 75px;
}
/* what is the button up-state (starting) position? (Width/Height)*/ 

#sprite li.bookings a {
	background-position: -778px -64px;
}
/* what is the button over-state (hover) position? (Width/Height)*/ 

#sprite li.bookings a:hover {
	background-position: -778px 0px;
}
#sprite span {
	display: none;
}

/*--------CONTENT SECTION------*/

	#content	{
		float: left;
		width: 946px;
		min-height: 1000px;
		/*height: 1685px;*/
		/*background-image: url(../../images/content-strip.jpg);
		background-repeat: repeat-x;*/
		background-color: #2e2e2e;
		margin: 0px 0px 10px 0px;	
	}
	
	#content-area	{
	float: left;
	width: 924px;
	min-height: 700px;
	/*height: 1439px;*/
		background-color: #fff;
	margin: 20px 13px 0px 12px;
	}
	
	#widebanner	{
		float: left;
		width: 879px;
		height: 91px;
		/*background-color: #f97474;*/
		margin: 15px;	
	}
	
	.fpsocial-media-links	{
		float: left;
		width: 680px;
		height: 50px;
		margin: 5px 0px 5px 23px;
	}
	
	.social-media-links	{
		float: left;
		width: 680px;
		height: 50px;
		margin: 5px 0px 5px 0px;
	}
	
	.twitter-button	{
		float: left;
		width: 100px;
	}
	.fb-button	{
		float: left;
		width: 300px;
	}
	
	#content-body	{
		float: left;
		width: 690px;
		min-height: 800px;
		/*height: 1214px;*/
		background-color: #feffff;
		margin: 0px 0px 0px 15px;	
	}
	
	.video-content-body	{
		float: left;
		width: 690px;
		min-height: 600px;
		/*height: 1214px;*/
		background-color: #feffff;
		margin: 0px 0px 0px 15px;	
	}
	
	
	#add-space	{
		float: left;
		width: 183px;
		height: auto;
		overflow: hidden;
		/*background-color: #f2f2f2;*/
		margin: 0px 0px 0px 8px;
		padding: 2px 0px 20px 28px;
	}
	
	#more-news	{
		float: left;
		width: 183px;
		height: auto;
		background-color: #fcfcfc;
		border-bottom: solid 1px #ccc;	
	}
	
	#more-news ul	{
		background-color: #fcfcfc;
		padding: 2px 0px 0px 10px;	
	}
	
	#footer-banner	{
		clear: both;
		width: 728px;
		height: 90px;
		background-color: #fff;
		margin: 15px;
	}
	
/*---NEWS ARTICLE(NEWS PAGE) --*/

.news-article-01	{
		float: left;
		width: 718px;
		height: 133px;
		background-color: #fff;
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		margin: 0px 0px 10px -12px;
}

.news-article-01:hover	{
		float: left;
		width: 718px;
		height: 133px;
		background-color: #5f737a;
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		margin: 0px 0px 10px -12px;
}

.news-article-01:hover	{
		color: #fff;
		display: inline-block;
}




.news-article-02	{
		float: left;
		width: 718px;
		height: 133px;
		background-color: #f9f9f9;
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		margin: 0px 0px 10px -12px;
		

}

.fb-news-btn	{
	float: left;
	width: 100px;
	margin: 15px 5px 5px 5px;	
}

	

/*------VIDEOS-------*/

	.fpmain-video-holder	{
		float: left;
		background-color: #f9f9f9;
		height: 420px;
		width: 633px;
		border: solid 1px #f1f1f1;
		margin: 0px 0px 5px 20px;
	}


	.main-video-holder	{
		float: left;
		background-color: #f9f9f9;
		height: 420px;
		width: 633px;
		border: solid 1px #f1f1f1;
		margin: 0px 0px 0px 20px;
	}
	.main-video	{
		float: left;
		background-color: #333;
		height: 363px;
		width: 633px;	
		margin: 20px 0px 0px 0px;	
	}
	
	.video-sub-text	{
		float: left;
		width: 200px;
		margin: 0px 0px 0px 250px;	
	}
	
	.tb-video-holder	{
		float: left;
		background-image: url(../../images/tb-bkgrd.jpg);
		background-repeat: repeat-x;
		background-color: #fff;
		height: 200px;
		width: 659px;	
		margin: 0px 0px 0px -15px;
		padding: 10px 20px 20px 40px;
		border-top: solid 1px #f1f1f1; 
		/*overflow: visible;*/
	}
	
	.tb-video	{
		float: left;
		height: 200px;
		width: 120px;
		margin: 10px 5px 0px 0px;
	}
	
	#video-navigation	{
		float: left;
		background-color: #000;
		height: 40px;
		width: 194px;	
	}
	

	
/*-------FOOTER------------------*/

	#footer	{
		float: left;
		width: 940px;
		/*height: 83px;*/
		/*background-image: url(../../images/footer-bar.png);*/
		margin: 0px 0px 0px 0px;	
	}
	
	#copywrite	{
		float: left;
		font-family:Verdana, Geneva, sans-serif;
			color: #CCC;
			font-size: .75em;
			text-align: center;
		width: 940px;
		height: auto;
		margin: 15px 0px 0px 0px;
		/*background-color: #033;*/	
	}
	
/*--------TYPOGRAPHY--------------*/


h1	{
	font-family: Verdana, Geneva, sans-serif;
		font-size: 1.5em;
		color: #333;
		font-weight: bolder;
		margin: 5px 0px 5px 0px;	
}

h1 a	{
	font-family: Verdana, Geneva, sans-serif;
		color: #333;
		font-weight: bolder;
		margin: 5px 0px 5px 0px;
		text-decoration: none;	
}
h1 a:hover	{
	font-family: Verdana, Geneva, sans-serif;
		color: #fff;
		font-weight: bolder;
		margin: 5px 0px 5px 0px;
		text-decoration: none;	
}




h2	{
	font-family: Verdana, Geneva, sans-serif;
		font-size: 1em;
		color: #fff;
			font-weight: bolder;
			line-height: 2em;
	background-color: #333;
	height: 30px;
	margin: 5px 0px 5px 0px;	
	padding: 2px 0px 0px 10px;
}

.caps	{
	font-family: Verdana, Geneva, sans-serif;
		font-size: 1.75em;
		color: #5b5b5b;
		text-align: left;
		/*background-image: url(../../images/heading-bg-strp.jpg);*/
			background-repeat: no-repeat;
			height: 27px;
		/*background-color: #6d8b96;*/
		margin: 5px 0px 5px -10px;
		padding: 3px 20px 5px 8px; 
		/*border-bottom: solid 2px #CCC;
		border-top: solid 2px #999;	*/
}

h4 {
font-size: 28px;
padding-bottom: 5px;
border-bottom: 3px solid #2a2a2a;
letter-spacing: -1px;
color: #2A2A2A;
margin-top: 15px;
margin-bottom: 15px;
}

h3 a	{
	font-family: Tahoma, Geneva, sans-serif;
		color: #fff;	
}

h3.fp-videos	{
	clear:left;
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1.75em;
		color: #ccc;
			text-align: left; 
	/*background-image: url(../../images/heading-bg-strp.jpg);*/

	background-color: #6d8b96;
	padding: 5px 20px 5px 20px;
	margin: 20px 0px 5px 0px;	
	border-bottom: solid 2px #CCC;
	border-top: solid 2px #999;	
	
}

h3.tb-tite	{
			font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #3d3d3d;
			font-weight: bolder;
			text-align: right; 

}

p.tb-desc	{
	font-family: Arial, Helvetica, sans-serif;
		color: #3d3d3d;
		text-align: right;	
	font-weight: lighter;
}

p.tb-time	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #3d3d3d;
		font-weight: bolder;
		text-align: right;	
}
p.views-post	{
	font-family: Arial, Helvetica, sans-serif;
		font-size: .75em;
		color: #3d3d3d;
		text-align: right; 	
		font-style: italic;

}

p.main-video-title	{
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
			text-align:center;	
			color: #3d3d3d;
			font-weight: bold;
		margin: 0px;

/*			line-height: 2em;
	height: 30px;
	padding: 2px 0px 0px 10px;*/
}

p.main-video-post-dates	{
	font-family: Arial, Helvetica, sans-serif;
		font-size: .75em;
		color: #3d3d3d;
			font-weight: lighter;
			font-style: italic;
			text-align:center;
		margin: 0px;	

/*			line-height: 2em;
	height: 30px;
	margin: 5px 0px 5px 0px;	
	padding: 2px 0px 0px 10px;*/
}



	.fplastupdated	{
		font-family: Verdana, Geneva, sans-serif;
			font-size: .75em;
			color: #333;	
		margin: 0px 0px 0px 23px;
	}
	
	.fppost-by	{
		font-family: Verdana, Geneva, sans-serif;
			font-size: 1em;
			color: #333;
		margin: 0px 0px 0px 23px;
		
	}

	.lastupdated	{
		font-family: Verdana, Geneva, sans-serif;
			font-size: .75em;
			color: #333;	
	}
	
	.post-by	{
		font-family: Verdana, Geneva, sans-serif;
			font-size: 1em;
			color: #333;
	}
	
	
	
	.venue-info	{
		font-family: Verdana, Geneva, sans-serif;
			font-size: 1em;
			color: #000;
			/*font-weight: bold;*/
			margin: 0px 0px 2px 0px;	
	}
	
	.article-text	{
		font-family: Verdana, Geneva, sans-serif;
			font-size: 1em;
			color: #333;
			/*width: 400px;*/
			line-height: 1.5em;
			padding: 10px;
				
	}
/*------IMAGES-------*/

	.article-pic-01	{
		float: right;
		}
		
	.skyscraper-banners	{
		float: left;
		margin: 10px 10px 10px 23px;	
	}

	.news-tb	{
		float: left; 
		height: 90%;
		margin: 5px 10px 5px 30px;	
	}